#textAlignment{
    text-align: center ;
    margin-top: 30px;
}

.container{
    width: 60%;
}

#inp{
    height: 50px;
}

.button{
  width: 150px; 
  margin-right: 10px;
  background-color: white;
}

.btn-group{
    margin : 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

#checkbox{
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

.todolist{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#btn1{
    width: 50%;
    background-color: white;
}
#btn2{
    width: 50%;
    background-color: #df4759;
    color: white;
    margin-left: 5px;

}

  
  .no-input{
    border: 0px;
  }
  
  .strike{
    text-decoration: line-through;
  }
  
  .no-input:focus{
    outline: none;
  }